@page
@model StockVision.Pages.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Saindo do StockVision</title>
    <script>
        setTimeout(() => {
            window.location.href = '/';
        }, 1000);
    </script>
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h2>Saindo do sistema...</h2>
        <p>Você será redirecionado em instantes.</p>
    </div>
</body>
</html>