<div class="navbar-nav">
    @if (ViewContext.HttpContext.Session.GetString("UsuarioLogado") == "true")
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user-circle me-1"></i>Minha Conta
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Dashboard"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a></li>
                <li><a class="dropdown-item" href="/Estoque"><i class="fas fa-boxes me-2"></i>Estoque</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/Logout"><i class="fas fa-sign-out-alt me-2"></i>Sair</a></li>
            </ul>
        </li>
    }
    else
    {
        <a class="btn btn-outline-primary me-2" href="/Login">Entrar</a>
        <a class="btn btn-primary" href="/Cadastro">Cadastrar</a>
    }
</div>